<% provide(:title, 'All Athletes') %>
<h1>All Athletes</h1>

<div class="row">
  <div class="span6 offset3">
    <ul class="athletes">
      <% @athletes.each do |athlete| %>
        <li>
          <%= gravatar_for athlete, size: 52 %>
          <%= link_to athlete.name, athlete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

