<span id="header">Current Goal</span></span>
<hr>
<p><span id="label">Race: </span> New York City Marathon</p>
<p><span id="label">Distance: </span> 26.2 Miles</p>
<p><span id="label">Date: </span> November 04, 2012</p>
<p><span id="label">Goal: </span> 03:00:00</p>
<p><span id="label">Countdown: </span> 13 Weeks</p>