<span id="header">Week Summary</span>
<hr>
<p><span style="text-transform: uppercase;color: #909090;">Workouts: </span><%= current_athlete.workouts.count %></p>
<p><span style="text-transform: uppercase;color: #909090;">Miles: </span><%= @totalMiles %></p>