// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr {
	.workout {
		border: 1px solid;
		height: 150px;
		vertical-align:text-top;
		padding:5px; }
	.workout-hover { 
		background-color:#EEE;
	}
	.workout-selected {
		background-color: lightgray;
	}
}